:root{
    --color-blue:hsl(223, 87%, 63%);
    --color-pale-blue:hsl(223, 100%, 88%);
    --color-light-red:hsl(354, 100%, 66%);
    --color-gray: hsl(0, 0%, 59%);
    --color-very-dark-blue:hsl(209, 33%, 12%);
}

$bp-small:42.5em;//680/16=42.5%


*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after{
    box-sizing:inherit;
}


html{
    box-sizing:border-box;
    font-size:62.5%;//1rem=10px, 10px/16px=62.5%
}

body{
    font-family: 'Libre Franklin', sans-serif;
}

a{
    text-decoration: none;
    color:inherit;
    cursor: pointer;
}